.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    /* background-color: #CCC; */
  }
  
.Icon-container--unchecked {
    position: absolute;
    left: 12px;
    filter: grayscale(75%);
  }

.Icon-container--check {
    position: absolute;
    left: 12px;
    
  }
.Icon-container--delete {
    position: absolute;
    top: -24px;
    right: 0;
  }
  
  .Icon-svg {
    width: 24px;
    height: 24px;
    transition: fill .15s;
   
  }

  .Icon-container:hover .Icon-svg--check {
    
  }


  .Icon-container:hover .Icon-svg--delete {
   /*filter: drop-shadow(5px 5px 5px red);*/
   filter: contrast(0%) sepia(1) hue-rotate(-48deg) saturate(1000%);
  }
  